<h1 class="centered fancy">Dashboard</h1>


<div id="welcome">
  <h2 id="welcome-message">Welcome to the dealership</h2>


<p>
  The total gross revenue is <%= @total_gross_revenue %>
</p>

<p>
  The net profit is <%= @net_profit %>
</p>

<p>
   The sales tax total is <%= @sales_tax_totals %>

</div>
