<div id="carbody">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.f_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.l_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @employee.number %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</div>