<div id = customerbody>
<p id="notice"><%= notice %></p>


  <%= form_tag(customers_path, :method => 'get', id: "search-form") do %>
      <p>
        <%= text_field_tag :search, params[:search] %>]
        <%= submit_tag "Search", :name => nil %>
      </p>

  <% end %>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.f_name %></td>
        <td><%= customer.l_name %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
</div>