<div id = customerbody>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.f_name %>
</p>

  <p>
    <strong>Name:</strong>
    <%= @customer.l_name %>
  </p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
</div>