// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#customerbody {
  background-color: lightblue;
  padding: 20px;
  font-size: 16pt;

  a {
    color: white;
    &:hover {
      color: yellow;
      background-color: red;
    }
  }
};