#header {

  background-color: black;
  padding: 20px;
  font-size: 16pt;


  a {
    color: white;
    &:hover {
      color:yellow;
      background-color: dodgerblue;
    }
  }

}




.bold-blue {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

h1.centered {
  text-align: center;
}

h1.fancy {
  color: darkgreen;
  text-decoration: underline;
}

div#welcome {
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid blue;
  width: 40%;
  padding: 10px;
}

p#description {
  text-align: center;
  font-size: 14pt;
  color: green;
}

.code {
  font-family: courier, monospace;
  color: darkgreen;
}