<div id="carbody">
<p id="notice"><%= notice %></p>

  <%= form_tag(cars_path, :method => 'get', id: "search-form") do %>
      <p>
        <%= text_field_tag :search, params[:search] %>]
        <%= submit_tag "Search", :name => nil %>
      </p>

  <% end %>
<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Make</th>
      <th>Model</th>
      <th>Vin Number</th>
      <th>MSRP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.color %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.vin_number %></td>
        <td><%= car.msrp %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
</div>