<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :customer %><br>
      <%= f.collection_select :customer_id, Customer.all, :id, :cus_name %>
    </div>
    <div class="field">
      <%= f.label :employee %><br>
      <%= f.collection_select :employee_id, Employee.all, :id, :emp_name%>
    </div>
    <div class="field">
      <%= f.label :color %><br>
      <%= f.collection_select :car_id, Car.all, :id, :car %>
    </div>

    <div class="field">
      <%= f.label :total_price %><br>
      <%= f.text_field :total_price%>
    </div>

    <div class="field">
      <%= f.label :interest %><br>
      <%= f.text_field :interest%>
    </div>

    <div class="field">
      <%= f.label :year %><br>
      <%= f.select :status, options_for_select([['3'], ['4'],['5']],:selected => :status)%>
    </div>

    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select([['Quote'], ['Sale']],:selected => :status) %>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<div id="interest_table" class="table-format"></div>