<div id="carbody">
<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Employee</th>
      <th>Car</th>
      <th>Total Price</th>
      <th>Interest</th>
      <th>Year</th>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer.f_name%></td>
        <td><%= sale.employee.f_name %></td>
        <td><%= sale.car.car %></td>
        <td><%= sale.total_price %></td>
        <td><%= sale.interest %></td>
        <td><%= sale.year %></td>
        <td><%= sale.status %></td>
        <td><%= sale.date %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
</div>