<div id="carbody">
<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer.f_name%>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee.f_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @sale.car.car %>
</p>


<p>
  <strong>Total price:</strong>
  <%= @sale.total_price %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @sale.interest %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sale.year %>
</p>


<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<%= render 'interest_table' %>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
</div>