<!DOCTYPE html>
<html>
<head>
  <title>SemesterProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>Victor's High end dealership</h1>
  <%= link_to "Dashboard", root_path %>
  <%= link_to "Cars", cars_path %>
  <%= link_to "Sales", sales_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Employees", employees_path %>
 </div>
<%= yield %>

</body>
</html>
